:root{
  --accent: #222725;
  --black: #121113;
  --white:#F7F7F2;
  --black-75:#18171A;
  --black-50:#47444D;
  --white-75:#E0E0D5;
}

body{
  background-color:var(--white);
  margin-right:80px;
  margin-left:80px;
  
}
.content{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--black-75);
}
.hero{
 
  display: flex; /* Turn the row into a flex container */
  gap: 20px; /* Adds 20px of space between the columns */
}
.hero-img{
  float: right;
}
.minimum-space{
  margin-top: -24px;
}

.paragraph .space{
  color: var(--black-50);
}
.t-sold{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:40px;
  color:var(--black-50) ;
}


.hero-heading{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:60px;
}
.emphasize{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size:90px;
}
.paragraph{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--black-50);
}
.paragraph-dark{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--white-75);
}
.large-text{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

.button{
background-color:#222725 ;
color:#F7F7F2;
padding: 24px 48px;
border-radius:100px;
font-family: "Poppins", system-ui;
font-weight: 700;
font-style: normal;
font-size: 24px;
}


.button-light{
  background-color:#F7F7F2;
  color:#222725;
  padding: 24px 48px;
  border-radius:100px;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  }

.sect{
  margin-top: 128px;
}
.r-b{
  display: flex; /* Turn the row into a flex container */
  gap: 20px; /* Adds 20px of space between the columns */
}

.r-b-dark{
  display: flex; /* Turn the row into a flex container */
  gap: 100px; /* Adds 20px of space between the columns */
}

.box-light{
  border-top: 2px solid #222725;    /* 2px top border */
  border-left: 2px solid #222725;   /* 2px left border */
  border-right: 2px solid #222725;  /* 2px right border */
  border-bottom: 6px solid #222725; 
  padding:40px 56px;
  border-radius: 24px;
  
}
.box-dark{
  background-color: #222725;
  color: #F7F7F2;
  padding:40px 56px;
  border-radius: 24px;
}
.space{
  margin-bottom:48px;
}
.dark{
  border-radius: 56px;
  padding:60px 64px;
  background-color: #222725;
  color: #F7F7F2;
}

/* faq styles */



.faq-question {
  width: 100%;
  padding: 24px ;
  background-color: var(--white);
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: var(--white-75);
}

.faq-answer {
  padding: 15px;
  display: none;
  background-color: var(--white);
  border-top: 1px solid #ddd;
}

.faq-answer p {
  margin: 0;
}

.testimonial-name{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}

.testimonial{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.testimonial-light{
  border-top: 2px solid #222725;    /* 2px top border */
  border-left: 2px solid #222725;   /* 2px left border */
  border-right: 2px solid #222725;  /* 2px right border */
  border-bottom: 6px solid #222725; 
  padding:24px 48px;
  border-radius: 24px;
}
  
.testimonial-dark{
  background-color: #222725;
  color: #F7F7F2;
  padding:24px 48px;
  border-radius: 24px;

}
.form{
  border-top: 2px solid #222725;    /* 2px top border */
  border-left: 2px solid #222725;   /* 2px left border */
  border-right: 2px solid #222725;  /* 2px right border */
  border-bottom: 6px solid #222725; 
  border-radius: 24px;
  padding: 24px;
}

@media only screen and (max-width: 800px) {

  .hero-heading{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
  }
  .emphasize{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:60px;
  }

body{
  margin-right:20px;
  margin-left:20px;
}
.t-sold{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:30px;
  color:var(--black-50) ;
}
.tshirt-sold{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
}

/* Products page styles */
.cloth-type{
  background-color: var(--white);
  border: 2px solid #222725;    /* 2px top border */
  border-radius: 4px;
  padding: 8px 8px;
}

.product-image{
  background-color: var(--white-75);
  padding: 16px;
  border-radius:8px;
}

.circle {
  width: 24px;
  height: 24px;
  border: 3px solid var(--black-50);
  border-radius: 50%;
}

.circle-white{
  background-color: white;
}

.circle-black{
  background-color: var(--black)
}

.circle-grey{
  background-color: #D9D9D9;
}